In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
#reading csv into DataFrame object
df = pd.read_csv('data/Port Harcourt, Nigeria (4.80678 7.002953).csv')

In [3]:
#checking the file is read properly
df

,created_at,entry_id,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3
0,2021-07-26 16:45:59 UTC,198,89,50,40.78
1,2021-07-26 16:48:03 UTC,199,89,50,40.09
2,2021-07-26 16:49:59 UTC,200,89,50,37.93
3,2021-07-26 16:54:03 UTC,201,89,50,33.18
4,2021-07-26 16:55:59 UTC,202,89,50,37.84
...,...,...,...,...,...
56047,2021-10-25 09:28:43 UTC,56245,87,61,29.17
56048,2021-10-25 09:30:43 UTC,56246,87,61,29.57
56049,2021-10-25 09:32:44 UTC,56247,87,61,28.75
56050,2021-10-25 09:34:44 UTC,56248,87,61,29.97
56051,2021-10-25 09:36:44 UTC,56249,87,60,30.25

In [4]:
#Checking missing data
print(df.isnull().any())

created_at         False
entry_id           False
Temperature_F      False
Humidity_%         False
PM2.5_ATM_ug/m3    False
dtype: bool